.App {
  text-align: center;
}
body{
  /* this bottom padding causes a gap at the bottom of the screen */
  padding-bottom: 2%;
  background-color: whitesmoke;
}
.green {
  background-color: #87AE73;
  color: whitesmoke;
}

.header {
  padding: 2%;

}

.lengthFixed {
  height: 100%;
  /* width: 20%; */
  position: fixed;
  overflow: auto;
  background-color: #87AE73 !important;

}

.output {
  font-weight: bold;
}

.padding {
  padding: 10%;
}

.padding li {
  padding: 20%;
}

.parent {
  height: 100%;
  width: 100%;
}

.piechart {
  margin-top: 5%;
  margin-bottom: 10%;
  width: 700px;
  height: 700px;
  border-radius: 50%;
  background-image: conic-gradient(pink 70deg,
      lightblue 0 235deg,
      orange 0);
}

.categories {
  display: block;
  height: 100%;
  padding: 2%;
  margin-right: 2%;
  border: 2px solid black;
  border-radius: 10px;
}

form{
  width: 100%;
  padding-top: 2%;
padding-bottom: 2%;
background-color:#F093D0 ;
}

form input {
  margin-right: 5%;
}
form select {
  margin-right: 5%;
}